@media only screen and (min-width: 30em) {

body {
	font-size: 16px;
}

h1 {
	font-size: 4.0625em;
	margin: 0.6em 0 0.4em 0;
}

h1 small {
	font-size: 0.4em;
}

h2 {
	font-size: 3.25em;
	margin: 0.5em 0;
}

h2 small {
	font-size: 0.5em;
}

h3 {
	font-size: 2.4375em;
	margin: 0.666667em 0;
}

h3 small {
	font-size: 0.6667em;
}

h4 {
	font-size: 2.4375em;
	margin: 0.666667em 0;
}

h4 small {
	font-size: 0.6667em;
}

}

